<div class="row">
    <div class="col-md-8">
        <form (ngSubmit)="onSubmit()" [formGroup]="assignmentForm">
                <div class="form-group">
                    <label for="projectName">Project Name</label>
                    <input type="text" formControlName="projectName" class="form-control">
                    <b *ngIf="!assignmentForm.get('projectName').valid && assignmentForm.get('projectName').touched">
                        <span *ngIf="assignmentForm.get('projectName').errors['required']">Project name cannot be empty!</span>
                        <span *ngIf="assignmentForm.get('projectName').errors['forbiddenName']">Project name cannot be used!</span>
                    </b>
                </div>
                <div class ="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" formControlName="email" class="form-control">
                </div>
                <div class ="form-group">
                    <label for="projectStatus">Project Status</label>
                    <select formControlName="projectStatus" class="form-control">
                        <option value="stable">Stable</option>
                        <option value="critical">Critical</option>
                        <option value="completed">Completed</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
